<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <a href="{% url 'home' %}">home</a>
</head>
<body>
    <h2>Register</h2>
    <img src="{% static 'images/pexels-michael-steinberg-95604-318820.jpg' %}" alt="Register Image" class="register-image">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html>